
.container {
    min-width: 320px;

}
.header {
    background-color: white;
}
.header__menu {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    margin-left: 16px;
}



.burger_checkbox {
    display: none;
}


.toggle {
    position: absolute;   
    z-index: 101;
    top: 24px;
    left: 16px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.burger__line {
    background-color: #fff;
    border-radius: 10px;
    height: 2px;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.toggle > span:nth-of-type(1) {
    width: 18px;
}
.toggle > span:nth-of-type(2) {
    width:10px;
}
.toggle > span:nth-of-type(3) {
    width:14px;
}

.header__sidebar {
    position: fixed;
    width: 320px;
    height: 100%;
    visibility: hidden;
    background-color: #fff;
    pointer-events: none;
    top: 0;
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: 100;
    -webkit-box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
    -moz-box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
}



.sidebar__search {
    background-image: url(sidebar/png/search.png);
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    left: 264px;
    top: 24px;
    pointer-events: auto;
    cursor: pointer;
}


.nav__list { 
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 96px 0 0 16px;
    line-height: 24px;
}
.sidebar__item {
    position: relative;
}


.sidebar__link:hover {
    opacity: 0.6;
}

.sidebar__link:hover::before {
    content: "";
    border-left: 4px solid #41c4ac;
    height: 32px;
    position: absolute;
    left: -16px;
    top: -4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}


.sidebar__link {
    pointer-events: auto;
}


.burger_checkbox:checked ~ .toggle span:nth-of-type(1){
    transform-origin: bottom;
    width: 22px;
    transform:rotatez(45deg) translate(4px,5px)
}
  
  
.burger_checkbox:checked ~ .toggle span:nth-of-type(2){
    transform: scale(0);
}
  
  
.burger_checkbox:checked ~ .toggle span:nth-of-type(3){
    
    transform-origin:bottom;
    width:22px;
    transform: translate(1px,-7.5px) rotatez(-45deg);
}

.burger_checkbox:checked ~ .header__sidebar {
    visibility: visible;
    transform: translateX(0%);
}
.burger_checkbox:checked ~ .toggle {
    position: fixed;
}


.header__logo {
    background-image: url(pictures/png/header__logo.png);
    display: block;
    position: absolute;
    top: 18.5px;
    left: 72px;
    width: 98px;
    height: 52px;
    transition: 0.5s;
}

.burger_checkbox:checked ~ .header__logo {
    position: fixed;

}


.divider {
    margin: 0 4px 0 4px;
    width: 0px;
    height: 32px;
    border: solid 1px #EAEAEA;
    border-radius: 3px;
    
}


.header__menu-middle_disabled {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    display: none;
    position: absolute;
    right: 162px;
}
.call {
    background-image: url(pictures/png/header__call.png);
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 50%;
}
.chat {
    background-image: url(pictures/png/header__chat.png);
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 50%;
}
.profile {
    background-image: url(pictures/png/header__profile.png);
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 50%;
}


.header__menu-right {
    margin-right: 16px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;    
    margin-left: 16px;
}



.repair__link {
    background-image: url("pictures/png/header__repair.png");
    height: 40px;
    width: 40px;
}

.check-status__link {
    background-image: url("pictures/png/header__check-status.png");
    height: 40px;
    width: 40px;
}

.sidebar__footer {
    position: absolute;
    bottom: 32px;
    left: 16px;
}

.sidebar__contacts a {
    display: block;

}

.sidebar__contacts {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.saidbar__mail {
    margin-bottom: 12px;
    display: block;
}

.sidebar__tel {
    font-family: "TT Lakes Bold";
    font-size: 24px;
    display: block;
    margin-bottom: 8px;
}

.sidebar__language {
    display: flex;
    gap: 7px;
}

.language_ru:hover,
.language_en:hover,
.language_ch:hover {
    opacity: 0.6;
}

.sidebar__footer a {
    pointer-events: auto;
}



@media (min-width: 550px) {
    .header__menu-middle_disabled {
        display: flex;
    }
}


@media (min-width: 768px) {

    .burger_btn::after {
        content: "";
        position: absolute;
        left: 84px;
        top: 28px;
        width: 0px;
        height: 32px;
        border: solid 1px #EAEAEA;
        border-radius: 3px;
    }
 

    .header__menu-right {
        margin-right: 24px;
    }

    .header__menu-left {
        gap: 42px; 
        margin-left: 24px;
    }

    .header__sidebar ~ .header__logo {
        left: 107px;
    }

    .burger_checkbox:checked ~ .header__logo {
        transform: translateX(-19px);
    }

    .nav__list {
        margin-left: 24px;
    }
    .toggle {
        left: 24px;
    }
    .sidebar__link:hover::before {
        left: -24px;
    }

    


}


@media (min-width: 1440px) {

    .header__menu {
        position: absolute;
        width: 100%;
    }    

    .header__menu-middle_disabled, .divider {
        display: none;
    }

    .repair__link, .check-status__link {
        display: flex;
        text-wrap: nowrap;
        align-items: center;
        gap: 8px;
        text-decoration: none;
    }

    .repair__link {
        position: relative;
        right: 140px;
    }
    
    .repair__link::before {
        content: "Оставить заявку";
        color: #1B1C21;
        position: absolute;
        right: 48px;
    }
    
  

    .header__menu-right {
        margin-right: 30px;
    }

    .check-status__link {
        position: relative;
    }

    .check-status__link::before {
        content: "Статус ремонта";
        color: #1B1C21;
        position: absolute;
        right: 48px;
    }

    .toggle {
        display: none;
    }

    .header__sidebar > .header__logo {
        display: none;
    }

    .header__sidebar ~ .header__logo {
        z-index: 101;
        left: 24px;
        position: fixed;
    }

    
    .header__sidebar {
        transform: translateX(0%);
        visibility: visible;
    }

    .burger_checkbox:checked ~ .header__logo {
        transform: none;
    }




}
